body{
    overflow-x: hidden;
}
.header-text{
    margin-top: 100px;
}
.hackathondate{
    font-size: 1.5rem;       
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
.hackathonname{
    font-size: 4em;
    /* padding-bottom: 30px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 10px white;
    font-weight: 500;
    color: whitesmoke;
}
.welcomebtn{
    border: 2px white solid;
    width: 200px !important;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    
}
:root{
    --appblack:#262626;
    --appviolet:#8666cf;
    --appwhite:rgb(236, 236, 236);
  }
.hackathonlogo{
    height: 300px;
    /* filter: drop-shadow(0 0 0.5rem white); */
    transition: 0.3s;    
}
.hackathonlogo:hover{
    transition: 0.3s;
    filter: drop-shadow(0 0 1rem white);
}
@media(max-width: 768px) {  /* when small screen   */
    .hackathonlogo{
        height:100px;
    }
}
#welcome{
    margin-bottom: 50px;
}
.organizedby{
    margin-top: -10px;        
}
.poweredby{            
    padding-bottom: 20px;
}
.poweredby, .organizedby{
    font-size: 1.2rem;
    text-align: left;        
    color: whitesmoke;
    margin-left: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Animation */
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.count{
    color:whitesmoke;    
    border-collapse: separate;
    border-spacing: 10px;
    width: 50%;
    margin: 0 auto;
}
.count tr {
    text-align: center;    
}
.timer{
    border-top: none;    
    background-color: #ff589e;
    box-shadow: 0 0 10px whitesmoke;
    margin:10px;
    font-size: 1rem;
    line-height: 50px;
    border-radius: 20px;
}
.logo{
    text-decoration: none;
    color:black;
    font-weight: 600;
}
.heading{
    color:var(--appviolet);
}
.makemeblack{
    background-color: var(--appblack) !important;
}
.makemeviolet{
    background-color: var(--appviolet);
}
.makemewhite{
    background-color: var(--appwhite);
}
.connectteam .fa{
    margin-top: 10px;
    background-color: var(--appwhite);
    box-shadow: 0 0 10px black;
    border-radius: 100%;
    padding: 10px;
    height: 30px;
    line-height: 10px;
    width: 30px;
}
